.Text {
    color: yellow;
    font-family: 'Times New Roman', Times, serif;

}

body {

    background-color: black;
}

.Header {
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
}